# This is a shallow "copy" of pyproject.toml only made for ingestion of data. 
# This is to skip torch download, as it is very  large. It increases the build  
# time from around 100 seconds to around 2000 seconds. 

neo4j~=6.1
pillow~=12.1
huggingface_hub~=1.5
datasets~=4.6
tqdm~=4.67